site_name: "Mathematics | Calculus Documentation"

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
  palette: 
    # Dark mode (default)
    - scheme: slate
      primary: cyan
      accent: purple
      toggle:
        icon: material/weather-night
        name: Switch to light mode
    # Light mode
    - scheme: default
      primary: cyan
      accent: purple
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode


nav:
  - Home: index.md
  - "Linear Algebra": linear_algebra.md
  - "Analytic Geometry": analytic_geometry.md
  - "Calculus": calculus.md

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true


extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/javascript.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js      